<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canales</title>
    <link rel="stylesheet" href="stylessservidor.css">
</head>
<body>
    <div id="app" class="discord-app">
       
        <div id="juegos-channels" class="hidden" data-server="Juegos">
            <h2>Canales</h2>
            <ul>
                <li class="channel-item"><a href="mensajes.html">Mario Bros</a></li>
                <li class="channel-item"><a href="mensajes.html">Sonic</a></li>
            </ul>
        </div>
        <a href="crear_canal.html" id="create-canal-button">Crear Canal</a>
    </div>
    <script src="script.js"></script>
</body>
</html>

