

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Bienvenido a mi aplicación</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/servers">Servidores</a></li>
            <li><a href="/profile">Perfil</a></li>
        </ul>
    </nav>
    <main>
        
    </main>
</body>
</html>
