<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servidores</title>
    <link rel="stylesheet" href="stylessservidor.css">
</head>
<body>
    <div id="app" class="discord-app">
       
        <div class="column" id="servers-column">
            <div class="servers-header">
                <h2>Servidores</h2>
            </div>
            <div class="server-list">
                <ul>
                    <li class="server-item" data-channels="juegos-channels"><a href="canales_juegos.html">Juegos</a></li>
                    <li class="server-item" data-channels="comida-channels"><a href="canales_comida.html">Comida</a></li>
                    <li class="server-item" data-channels="literatura-channels"><a href="canales_literatura.html">Literatura</a></li>
                </ul>
            </div>
            <a href="crear_servidor.html" id="create-server-button">Crear Servidor</a>
        </div>
    </div>
    
</body>
</html>
